* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Lato';
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #222222;
    color: #E8E8E8;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.left-header-content> :nth-child(even),
.right-header-content> :nth-child(even) {
    margin-left: 40px;
    margin-right: 40px;
}

.left-header-content,
.right-header-content {
    list-style: none;
}

.menu-item {
    /*Здесь именно display, а не float. Для вертикального выравнивания иконок*/
    padding: 18px 0;
    display: inline-block;

    a {
        text-decoration: none;
        padding: 40px 0;
    }
}

.top-menu-btn {
    position: relative;
}

.drop-down-menu {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 72px;
    color: #6F6E6E;
    padding: 16px 16px 157px 33px;
    width: 232px;
    box-shadow: 0 0 15px rgba(63, 63, 63, 0.5);
    z-index: 1;

    img {
        width: 12px;
        height: 12px;
        float: right;
    }

    h3 {
        color: #000;
        margin-top: 22px;
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
    }

    h4 {
        color: #F16D7F;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-top: 24px;
    }

    li {
        list-style: none;
        padding: 12px 0 0 22px;
    }

    a {
        color: #6F6E6E;
        padding: 0;
    }

}

.top-menu-btn:hover .drop-down-menu {
    display: block;
}

.cart-wrapper {
    position: relative;

    span {
        position: absolute;
        width: 18px;
        line-height: 18px;
        font-size: 12px;
        color: white;
        background: #F16D7F;
        border-radius: 50%;
        text-align: center;
        right: -8px;
        top: -20px;
    }
}

/************************BANNER************************/
.banner {
    background-color: #F1E4E6;
}

.banner-content {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.right-banner-content {
    align-self: center;
}

.slogan {
    border-left: 12px #F16D7F solid;
    font-size: 48px;
    padding-left: 16px;
}

.slogan> :last-child {
    color: #F16D7F;
}

/************************CATEGORIES************************/
.categories-content {
    padding: 65px 0 96px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-item {
    position: relative;

    a {
        text-decoration: none;
    }
}

.categories-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    font-size: 16px;
    /*
    Почему не работает этот комплекс, для позиционирования по-центру?
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    */
}

.categories-text>:first-child {
    color: #FFFFFF;
    display: block;
}

.categories-text>:last-child {
    color: #F16D7F;
    display: block;
}

.categories-content> :last-child {
    margin-top: 30px;
}

/************************FEATURED ITEMS************************/
.featured-items-content {
    text-align: center;

    >h2 {
        padding-bottom: 6px;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
    }

    >span {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
}

.cards {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

$cardWidth: 360;

.cards-item {
    margin-top: 30px;
    width: $cardWidth + px;
    background-color: #F8F8F8;
    text-align: left;
}

.cards-data {
    padding-left: 18px;
    padding-bottom: 20px;

    h4 {
        margin-top: 25px;
    }

    a {
        text-decoration: none;
        color: #000000;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }

    p {
        padding-top: 12px;
        padding-bottom: 18px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
}

.cards-img {
    position: relative;

    &:hover .img-hover-layer {
        display: flex;
    }
}

.img-hover-layer {
    display: none;
    background: rgba(58, 56, 56, 0.86);
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;

    button {
        background: none;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        width: 138px;
        padding: 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    img {
        width: 26px;
        height: 24px;
    }

    span {
        margin-left: 11px;
    }
}

.all-prod-btn {
    margin: 48px auto 95px auto;
    width: 211px;
    text-align: center;

    >a {
        display: block;
        background-color: #F26376;
        color: #FFFFFF;
        height: 100%;
        text-decoration: none;
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

/************************FOOTER************************/
footer {
    background-color: #222224;
}

.footer-top {
    padding-top: 100px;
    padding-bottom: 104px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #FBFBFB;

    h4 {
        margin-top: 28px;
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
    }

    p {
        margin-top: 16px;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
    }
}

.footer-middle {
    background-image: url(img/footer/middle-bg.jpg);
    height: 448px;
    text-align: center;
    display: flex;
    align-items: center;
}

.footer-middle-content {
    display: flex;
    justify-content: space-between;
}

.footer-middle-left p {
    margin-top: 30px;
    width: 360px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}

.footer-middle-right {
    font-size: 24px;
    color: #222224;

    h4 {
        font-weight: 700;
    }

    p {
        padding-top: 10px;
    }

    form {
        position: relative;
        margin-top: 32px;
    }

    input {
        width: 100%;
        height: 50px;
        border-radius: 22px;
        border: none;
        background-color: #E1E1E1;
        text-indent: 22px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #222224;
        opacity: 0.67;
    }

    button {
        position: absolute;
        width: 100px;
        height: 50px;
        top: 0;
        right: 0;
        border-radius: 0 22px 22px 0;
        border: none;
        background-color: #F16D7F;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        cursor: pointer;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

    a {
        text-decoration: none;

        button {
            width: 32px;
            height: 32px;
            background-color: #fff;
            color: #000000;
            cursor: pointer;
        }
    }

    .pinky-btn {
        button {
            background-color: #F16D7F;
            color: #fff !important;
        }
    }
}

/************************PRODUCT INFO************************/
.breadcrumbs {
    background-color: #F8F3F4;
}

.breadcrumbs-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;

    h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
    }

    a {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        text-decoration: none;
    }

    /*Последняя ссылка*/
    a:last-child {
        color: #F16D7F;
    }
}

/************************PRODUCT BANNER************************/
.product-banner {
    background-color: #F7F7F7;
    text-align: center;
    padding-bottom: 42px;
    position: relative;
}

.product-banner-btn-left,
.product-banner-btn-right {
    position: absolute;
    background-color: rgba(42, 42, 42, 0.15);
    width: 47px;
    height: 47px;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.product-banner-btn-left {
    left: 0;
}

.product-banner-btn-right {
    right: 0;
}

/************************PRODUCT COLLECTION************************/
.product-collection {
    bottom: -520px;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: center;
}

.product-collection-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 641px;
    padding: 64px 0;

    >h4 {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
    }

    >hr {
        width: 63px;
        height: 3px;
        color: #EF5B70;
        background-color: #EF5B70;
        border: none;
        margin: auto;
        margin-top: 12px;
    }

    >h3 {
        margin-top: 12px;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }

    >p {
        margin-top: 48px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
    }

    >span {
        margin-top: 32px;
        padding-bottom: 65px;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
        border-bottom: 1px solid #EAEAEA;
    }

    >div {
        margin-top: 65px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

    >div select {
        border: none;
    }

    >div select:nth-child(even) {
        margin: 0 23px;
    }

    >button {
        background: none;
        border: 1px solid #F26376;
        width: 211px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        cursor: pointer;
        margin-top: 49px;

        img {
            width: 26px;
            height: 24px;
        }

        span {
            margin-left: 11px;
            color: #F26376;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }
}

/************************PRODUCT RANDOM************************/
.product-random {
    $marginFromPrev: 490; //margin до нижней границы предыдущего блока
    $marginTop: $marginFromPrev + 128; //Расчёт, учитывая отступ дизайнера
    margin-top: $marginTop + px;
    padding-bottom: 128px;
}

/************************CATALOG FILTERS************************/
.catalog-filters {
    display: flex;
    justify-content: flex-start;
    padding-top: 51px;
    //Чтобы получить общий отступ для cards == 65px
    margin-bottom: 17px;
}

.catalog-filters__sort {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    position: relative;

    i {
        font-size: 14px;
        margin-left: 11px;
    }
}

.catalog-filters__sort:hover {
    .catalog-filters__by-category {
        display: flex;
        flex-direction: column;
    }
}

.catalog-filters__by-category {
    display: none;
    background-color: #fff;
    box-shadow: 3px 5px 30px #d3d2d2;
    $byCategoryWidth: $cardWidth - 17;
    width: $byCategoryWidth + px;
    padding: 13px 0 17px 17px;
    position: absolute;
    left: 0;
    top: -12px;
    z-index: 100;

    >span {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #EF5B70;
    }

    h4 {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #EF5B70;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        //Среднее от 27+32+38
        margin-top: 32px;
        padding-left: 11px;
        cursor: pointer;
    }

    p {
        padding-top: 25px;
        padding-left: 12px;
        display: flex;
        flex-direction: column;

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            cursor: pointer;
        }

        :nth-child(even) {
            padding-top: 11px;
            padding-bottom: 11px;
        }
    }
}

.catalog-filters__filters {
    margin-left: 304px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    display: flex;

    i {
        margin-left: 10px;
    }
}

.catalog-filters__filter-group {
    cursor: pointer;
    margin: 0 28px;
}

.catalog-filters__by-size:hover {
    .catalog-filters__fieldset-wrapper {
        display: block;
    }
}

.catalog-filters__by-size {
    position: relative;

    .catalog-filters__fieldset-wrapper {
        display: none;
        padding-top: 10px;
        position: absolute;
        z-index: 1;

        fieldset {
            border: none;
            background-color: #fff;
            box-shadow: 2px 2px 15px #d3d2d2;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #6F6E6E;
            padding-left: 10px;
            width: 79px;

            :nth-child(odd) {
                padding: 10px 0;
            }

            :last-child {
                padding-bottom: 11px;
            }
        }
    }
}

/************************CATALOG PAGINATION************************/
.pagination {
    margin-top: 48px;
    margin-bottom: 96px;
    display: flex;
    justify-content: center;

    div {
        padding: 12px 0 12px 15px;
        border: 1px solid #c4c4c4;
        border-radius: 5px;

        :nth-child(even) {
            padding-left: 15px;
            padding-right: 15px;
        }

        :first-child {
            padding-right: 0;
        }

        :nth-child(2) {
            color: #EF5B70;
        }
    }

    i {
        color: #000000;
    }

    a,
    span {
        text-decoration: none;
        color: #c4c4c4;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
}