@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Lato';
}

/************************EXTENDERS************************/
.text-input, .order-info form input, .reg-form input {
  width: 100%;
  height: 45px;
  margin-top: 21px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #A4A4A4;
  text-indent: 17px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/************************HEADER************************/
.header {
  background-color: #222222;
  color: #E8E8E8;
  position: relative;
}

.header-content {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.left-header-content > :nth-child(even),
.right-header-content > :nth-child(even) {
  margin-left: 40px;
  margin-right: 40px;
}

.left-header-content,
.right-header-content {
  list-style: none;
}

.responsive {
  height: 32px;
  background: transparent;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  position: relative;
}

.responsive i {
  font-size: 2em;
  color: #F16D7F;
}

.responsive span {
  background-color: #F16D7F;
  padding: 3px 8px;
  font-size: 1.5em;
  text-transform: uppercase;
  position: absolute;
  right: 45px;
  top: 0;
  z-index: 10;
  white-space: nowrap;
}

.responsive .hidden {
  display: none;
}

.responsive .flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  display: block;
  float: left;
  line-height: 75px;
}

.menu-item a {
  text-decoration: none;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drop-down-menu {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 75px;
  right: 0;
  color: #6F6E6E;
  padding: 15px 16px 0 33px;
  width: 232px;
  height: 749px;
  -webkit-box-shadow: 0 0 15px rgba(63, 63, 63, 0.5);
          box-shadow: 0 0 15px rgba(63, 63, 63, 0.5);
  z-index: 1;
}

.drop-down-menu img {
  width: 12px;
  height: 12px;
  padding: 5px;
  float: right;
  cursor: pointer;
}

.drop-down-menu h3 {
  color: #000;
  margin-top: 22px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.drop-down-menu h4 {
  color: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 24px;
}

.drop-down-menu li {
  list-style: none;
  padding: 12px 0 0 22px;
}

.drop-down-menu a {
  color: #6F6E6E;
  padding: 0;
  text-decoration: none;
}

header .drop-down-menu-btn:hover .drop-down-menu {
  display: block;
}

.cart-wrapper {
  position: relative;
}

.cart-wrapper span {
  position: absolute;
  width: 18px;
  line-height: 18px;
  font-size: 12px;
  color: white;
  background: #F16D7F;
  border-radius: 50%;
  text-align: center;
  right: -8px;
  top: 16px;
}

/************************BANNER************************/
.banner {
  background-color: #F1E4E6;
}

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-banner-content {
  margin-left: -200px;
}

.left-banner-content img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.right-banner-content {
  font-weight: 900;
}

.slogan {
  border-left: 12px #F16D7F solid;
  padding-left: 16px;
  font-size: 48px;
  white-space: nowrap;
}

.slogan > :last-child {
  color: #F16D7F;
}

/************************CATEGORIES************************/
.categories {
  padding: 65px 0 96px 0;
}

.categories .categories-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories .categories-content .categories-item {
  position: relative;
}

.categories .categories-content .categories-item a {
  text-decoration: none;
}

.categories .categories-content .categories-item img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.categories .categories-content .categories-item-full {
  margin-top: 30px;
}

.categories .categories-content .categories-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
  font-size: 16px;
}

.categories .categories-content .categories-text > :first-child {
  color: #FFFFFF;
  display: block;
}

.categories .categories-content .categories-text > :last-child {
  color: #F16D7F;
  display: block;
}

/************************FEATURED ITEMS************************/
.featured-items {
  text-align: center;
}

.featured-items > h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.featured-items > span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-top: 6px;
}

.cards {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-item {
  margin-top: 30px;
  width: 360px;
  background-color: #F8F8F8;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cards-item:hover {
  -webkit-box-shadow: 5px 5px 20px #f5d7db, -5px -5px 20px #f5d7db;
          box-shadow: 5px 5px 20px #f5d7db, -5px -5px 20px #f5d7db;
}

.cards-data {
  padding: 25px 18px 20px 18px;
}

.cards-data a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cards-data a:hover {
  font-size: 20px;
}

.cards-data p {
  padding-top: 12px;
  padding-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.cards-data span {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.cards-img {
  position: relative;
}

.cards-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.cards-img:hover .img-hover-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-hover-layer {
  display: none;
  background: rgba(58, 56, 56, 0.86);
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  cursor: pointer;
}

.img-hover-layer button {
  background: none;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  width: 138px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.img-hover-layer img {
  width: 26px;
  height: 24px;
}

.img-hover-layer span {
  margin-left: 11px;
}

.all-prod-btn {
  margin: 48px auto 95px auto;
  width: 211px;
  text-align: center;
}

.all-prod-btn > a {
  display: block;
  background-color: #F26376;
  color: #FFFFFF;
  border: 1px solid #F26376;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100%;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 14px;
}

.all-prod-btn > a:hover {
  background-color: #FFFFFF;
  color: #F26376;
  color: #F26376;
  border: 1px solid #F26376;
  -webkit-box-shadow: 3px 3px 15px rgba(242, 99, 118, 0.2), -3px -3px 15px rgba(242, 99, 118, 0.2);
          box-shadow: 3px 3px 15px rgba(242, 99, 118, 0.2), -3px -3px 15px rgba(242, 99, 118, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/************************FOOTER************************/
footer {
  background-color: #222224;
}

.footer-top {
  text-align: center;
  color: #FBFBFB;
}

.footer-top .footer-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 104px;
}

.footer-top .footer-top-content h4 {
  margin-top: 28px;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
}

.footer-top .footer-top-content p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
}

.footer-middle {
  background: url(../img/footer/middle-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 25% 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 86px;
  padding-bottom: 126px;
}

.footer-middle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-middle-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-middle-left img {
  width: 96px;
  height: 96px;
}

.footer-middle-left p {
  margin-top: 30px;
  width: 360px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.footer-middle-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-middle-right h4 {
  font-weight: 700;
  font-size: 24px;
  color: #222224;
}

.footer-middle-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
  width: 360px;
}

.footer-middle-right input {
  width: 100%;
  height: 50px;
  border-radius: 22px 0 0 22px;
  border: none;
  background-color: #E1E1E1;
  text-indent: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.footer-middle-right button {
  width: 100px;
  height: 50px;
  top: 0;
  right: 0;
  border-radius: 0 22px 22px 0;
  border: none;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer-bottom .footer-bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom .footer-bottom-content a {
  text-decoration: none;
}

.footer-bottom .footer-bottom-content a button {
  width: 32px;
  height: 32px;
  background-color: #fff;
  color: #000000;
  border: none;
  cursor: pointer;
}

.footer-bottom .footer-bottom-content a :hover {
  background-color: #F16D7F;
  color: #fff;
}

/************************BREADCRUMBS************************/
.breadcrumbs {
  background-color: #F8F3F4;
}

.breadcrumbs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
  /*Последняя ссылка*/
}

.breadcrumbs-content h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs-content a {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.breadcrumbs-content a:last-child {
  color: #F16D7F;
}

/************************PRODUCT BANNER************************/
.product-banner {
  background-color: #F7F7F7;
  text-align: center;
  position: relative;
}

.product-banner-btn-left,
.product-banner-btn-right {
  position: absolute;
  background-color: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  cursor: pointer;
}

.product-banner-btn-left:hover,
.product-banner-btn-right:hover {
  color: #F16D7F;
}

.product-banner-btn-left {
  left: 0;
}

.product-banner-btn-right {
  right: 0;
}

/************************PRODUCT COLLECTION************************/
.product-collection {
  bottom: -560px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-collection-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 641px;
  padding: 64px 0;
}

.product-collection-content > h4 {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.product-collection-content > hr {
  width: 63px;
  height: 3px;
  color: #EF5B70;
  background-color: #EF5B70;
  border: none;
  margin: auto;
  margin-top: 12px;
}

.product-collection-content > h3 {
  margin-top: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.product-collection-content > p {
  margin-top: 48px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product-collection-content > span {
  margin-top: 32px;
  padding-bottom: 65px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  border-bottom: 1px solid #EAEAEA;
}

.product-collection-content .product-collection-filters {
  margin-top: 65px;
  white-space: nowrap;
}

.product-collection-content .product-collection-filters select {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border: none;
}

.product-collection-content .product-collection-filters select:nth-child(even) {
  margin: 0 23px;
}

.product-collection-content > button {
  background-color: #FFFFFF;
  color: #F26376;
  border: 1px solid #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #F26376;
  width: 211px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  margin-top: 49px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.product-collection-content > button:hover {
  background-color: #F26376;
  color: #FFFFFF;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.2), -3px -3px 15px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.2), -3px -3px 15px rgba(255, 255, 255, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-collection-content > button img {
  width: 26px;
  height: 24px;
}

.product-collection-content > button span {
  margin-left: 11px;
}

/************************PRODUCT RANDOM************************/
.product-random {
  margin-top: 618px;
  margin-bottom: 128px;
}

/************************CATALOG FILTERS************************/
.catalog-filters {
  margin-top: 51px;
  margin-bottom: 17px;
}

.catalog-filters-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.catalog-filters-sort {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: relative;
  cursor: pointer;
}

.catalog-filters-sort i {
  font-size: 14px;
  margin-left: 11px;
}

.catalog-filters-sort:hover .catalog-filters-by-category {
  display: block;
}

.catalog-filters-sort:hover .catalog-filters-by-category > span,
.catalog-filters-sort:hover .catalog-filters-by-category i {
  font-weight: 600;
  line-height: 17px;
  color: #EF5B70;
}

.catalog-filters-by-category {
  display: none;
  width: 343px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 0 17px 17px;
  font-weight: 400;
  font-size: 14px;
  color: #6F6E6E;
  background-color: #fff;
  -webkit-box-shadow: 3px 5px 30px #d3d2d2;
          box-shadow: 3px 5px 30px #d3d2d2;
  position: absolute;
  top: -12px;
  z-index: 100;
}

.catalog-filters-by-category details summary {
  list-style-type: none;
  line-height: 30px;
}

.catalog-filters-by-category details summary span {
  padding-left: 11px;
}

.catalog-filters-by-category details summary:hover {
  background-color: #f8dfe3;
}

.catalog-filters-by-category details :nth-child(2) {
  margin-top: 25px;
}

.catalog-filters-by-category h4 {
  line-height: 30px;
  color: #EF5B70;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  margin-top: 24px;
  padding-left: 11px;
  cursor: pointer;
}

.catalog-filters-by-category p {
  padding-top: 25px;
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-filters-by-category p span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
}

.catalog-filters-by-category p :nth-child(even) {
  padding-top: 11px;
  padding-bottom: 11px;
}

.catalog-filters-filters {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-filters-filters i {
  margin-left: 10px;
}

.catalog-filters-by-props:hover .catalog-filters-fieldset-wrapper {
  display: block;
}

.catalog-filters-by-props {
  position: relative;
  cursor: pointer;
}

.catalog-filters-by-props:nth-child(even) {
  margin-left: 28px;
  margin-right: 28px;
}

.catalog-filters-by-props .catalog-filters-fieldset-wrapper {
  display: none;
  padding-top: 10px;
  position: absolute;
  z-index: 1;
}

.catalog-filters-by-props .catalog-filters-fieldset-wrapper fieldset {
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 15px #d3d2d2;
          box-shadow: 2px 2px 15px #d3d2d2;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  padding-left: 10px;
  padding-bottom: 11px;
  width: 79px;
}

.catalog-filters-by-props .catalog-filters-fieldset-wrapper fieldset div {
  margin-top: 10px;
}

.catalog-filters-by-props .catalog-filters-fieldset-wrapper fieldset div:hover {
  background-color: #f8dfe3;
}

.catalog-filters-by-props .catalog-filters-fieldset-wrapper fieldset div label {
  line-height: 20px;
}

/************************PAGINATION************************/
.pagination {
  margin-top: 48px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination div {
  padding: 12px 0 12px 15px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.pagination div :nth-child(even) {
  padding-left: 15px;
  padding-right: 15px;
}

.pagination div :first-child {
  padding-right: 0;
}

.pagination div :nth-child(2) {
  color: #EF5B70;
}

.pagination i {
  color: #000000;
}

.pagination a,
.pagination span {
  text-decoration: none;
  color: #c4c4c4;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

/************************CART************************/
.order-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 96px;
  margin-bottom: 128px;
}

.order-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 306px;
  -webkit-box-shadow: 5px 5px 15px #d8d6d6;
          box-shadow: 5px 5px 15px #d8d6d6;
  margin-bottom: 40px;
}

.order-cards-item img {
  width: auto;
  height: 100%;
}

.order-cards-data {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 390px;
  padding-top: 22px;
  padding-left: 31px;
}

.order-cards-data > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 22px;
}

.order-cards-data > div h4 {
  width: 262px;
}

.order-cards-data > div i {
  color: #575757;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
}

.order-cards-data > div a {
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.order-cards-data table {
  margin-top: 42px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.order-cards-data table td {
  padding-bottom: 15px;
}

.order-cards-data table span {
  color: #F16D7F;
}

.order-cards-data table input {
  margin-left: 24px;
  width: 43px;
  text-align: right;
  border: 1px solid #EAEAEA;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

.order-cards-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.order-cards-buttons button {
  width: 225px;
  height: 50px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.order-cards-buttons button:hover {
  background-color: #000;
  color: #fff;
  color: #fff;
  border: 1px solid #fff;
  -webkit-box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.2), -3px -3px 15px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.2), -3px -3px 15px rgba(255, 255, 255, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.order-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
}

.order-info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-info form h4 {
  color: #222222;
}

.order-info form :nth-child(2)::-webkit-input-placeholder {
  color: #B1B1B1;
}

.order-info form :nth-child(2):-ms-input-placeholder {
  color: #B1B1B1;
}

.order-info form :nth-child(2)::-ms-input-placeholder {
  color: #B1B1B1;
}

.order-info form :nth-child(2)::placeholder {
  color: #B1B1B1;
}

.order-info form input {
  color: #222222;
}

.order-info form button {
  margin-top: 24px;
  width: 100px;
  height: 34px;
  background-color: #fff;
  color: #A4A4A4;
  border: 1px solid #A4A4A4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  cursor: pointer;
}

.order-info form button:hover {
  background-color: #A4A4A4;
  color: #fff;
  color: #fff;
  border: 1px solid #fff;
  -webkit-box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.2), -3px -3px 15px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.2), -3px -3px 15px rgba(255, 255, 255, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.order-summary {
  margin-top: 58px;
  padding: 42px;
  background-color: #F5F3F3;
}

.order-summary h3 {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
}

.order-summary h4 {
  margin-top: 12px;
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.order-summary h4 span {
  color: #F16D7F;
}

.order-summary span {
  padding-left: 15px;
}

.order-summary hr {
  margin-top: 21px;
  border: none;
  background: #E2E2E2;
  height: 1px;
}

.order-summary button {
  margin-top: 17px;
  width: 100%;
  height: 50px;
  background-color: #F16D7F;
  color: #FFFFFF;
  border: 1px solid #F16D7F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border: none;
  cursor: pointer;
}

.order-summary button:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  -webkit-box-shadow: 3px 3px 15px rgba(241, 109, 127, 0.2), -3px -3px 15px rgba(241, 109, 127, 0.2);
          box-shadow: 3px 3px 15px rgba(241, 109, 127, 0.2), -3px -3px 15px rgba(241, 109, 127, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/************************REGISTRATION************************/
.reg-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 0 96px 0;
}

.reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  margin-right: 128px;
}

.reg-form legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.reg-form input {
  color: #B1B1B1;
}

.reg-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 31px;
  margin-bottom: 33px;
}

.reg-form div input[type=radio] {
  margin: 0;
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.reg-form div label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-right: 20px;
}

.reg-form p {
  margin-top: 16px;
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.reg-form button {
  margin-top: 24px;
  background: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  width: 167px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.reg-form button i {
  margin-left: 20px;
}

.reg-advantage, .reg-advantage h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reg-advantage p {
  margin-top: 22px;
}

.reg-advantage ul {
  margin-top: 21px;
  list-style: none;
}

.reg-advantage ul i {
  padding-right: 23px;
}
/*# sourceMappingURL=styles.css.map */